<form method="get" action="{% url 'event_search' %}">
    
    <!-- <input type="text" name="q" placeholder="Search events by description..." >
    <button type="submit">Search</button> -->
    <center>
    <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2 w-2/4">
        <label for="hero-field" class="leading-7 text-sm text-gray-600">Search event by description....</label>
        <input type="text" name="q" placeholder="Search event by description" class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button type="submit" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Search</button>
    </div>
</center>
</form>

{% if events %}
    <ul>
    {% for event in events %}
        <li>{{ event.title }} - {{ event.location }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events found.</p>
{% endif %}
