{% extends 'base.html' %} {% block head %}
<title>Create Ticket Tier</title>
{% endblock head %} {% block body %}
<!-- <h1>Create Ticket Tier</h1>
<a href="{% url 'admin:event_details' event.id %}">Back</a>
<hr />
<form method="post">
  {% csrf_token %} 
  {{ form.as_p }}
  <input type="submit" value="Save" />
</form> -->
<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg>
      <span class="ml-3 text-xl">Uni-Tick</span>
    </a>
  </div>
</header>

<section class="text-gray-600 body-font relative">
  <div class="container px-5 mb-24 mx-auto">
    <div class="flex justify-center">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
        Create Ticket Tier
      </h1>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <input
          type="submit"
          value="Save"
          class="cursor-pointer bg-blue-400 hover:bg-blue-500 text-white rounded px-3 py-2 border-none"
        />
        <a
          class="cursor-pointer bg-gray-400 hover:bg-gray-500 text-white rounded px-3 py-2" href="{% url 'admin:event_details' event.id %}"
        >
          Back
        </a>
      </form>
    </div>
  </div>
</section>

{% endblock body %}
