<h1>Tourist Spots</h1>
{% extends 'base.html' %} {% block head %}
<title>Admin Home</title>
{% endblock head %} {% block body %}
<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg>
      <span class="ml-3 text-xl">Uni-Tick</span>
    </a>
  </div>
</header>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex w-full justify-between mb-20">
      <div class="w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
        >
          Tourism Destinations
        </h1>
        <div class="h-1 w-20 bg-blue-500 rounded"></div>
      </div>
      <a
        href="{% url 'admin:create_tourist_spots' %}"
        class="inline-flex items-center bg-blue-500 border-0 py-1 px-3 focus:outline-none hover:bg-blue-600 rounded text-white mt-4 md:mt-0"
      >
        Add
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
    <div class="flex flex-wrap -m-4">
      {% for tourist_spot in tourist_spots %}

      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/720x400"
            alt="content"
          />
          <h3
            class="tracking-widest text-blue-500 text-xs font-medium title-font"
          >
            {{ tourist_spot.location}}
          </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            {{ tourist_spot.title }}
          </h2>
          <p class="leading-relaxed text-base">{{ tourist_spot.description}}</p>
          <div class="flex justify-end">
            <a
              href="{% url 'admin:event_details' event.id %}"
              class="bg-blue-400 rounded p-2 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock body %}